@media (max-width: 1024px) {
	.flex {
		flex-wrap: wrap;
	}
    .tabs .tab,
    .tabs label {
      order: initial;
    }
    .tabs label {
      width: 100%;
      margin-right: 0;
      margin-top: 0.2rem;
    }
}

@media screen and (max-width: 768px) {
    .how-container {
        display: block; 
        width: 100%; 
        height: auto; 
        text-align: center; 
        margin: 0 auto 60px auto;
    }
    .left-container  {
        display: block; 
        width: 100%; 
        height: auto; 
        float: none; 
        text-align: center;
        margin: 15px auto 0px auto;
    }
    .right-container {
        display: block; 
        width: 100%; 
        height: auto; 
        float: none; 
        text-align: center; 
        margin: 15px auto 0px auto;
    }
    .left-content {
        display: block; 
        width: 100%; 
        height: auto; 
        float: none; 
        text-align: center; 
        margin: 15px auto 0px auto;
    }
    .right-content {
        display: block; 
        width: 100%; 
        height: auto; 
        float: none; 
        text-align: center; 
        margin: 15px auto 0px auto; 
        max-width: 90%;
    }
  }